---
interface Props {
  title: string;
  colSpan?: '3' | '9';
}

const { title, colSpan = '9' } = Astro.props;
---

<section class="my-6 mb-10">
  <div class="grid md:grid-cols-12 gap-x-8">
    <div class="md:col-span-3 pb-2">
      <div class="text-2xl font-bold">{title}</div>
    </div>
    <div class={`md:col-span-${colSpan} text-slate-700 leading-relaxed`}>
      <slot />
    </div>
  </div>
</section>