---
interface Props {
  message: string;
}

const { message } = Astro.props;
---

<div class="mobile-warning">
  <i class="fa-solid fa-triangle-exclamation" aria-hidden="true"></i>
  <span>{message}</span>
</div>