---
interface Props {
  numTries: number;
}

const { numTries } = Astro.props;
---

<div class="mb-4 grid grid-cols-[auto_auto] items-stretch justify-end">
  <div id="legend-block" class="text-sm text-slate-600 flex justify-end">
    <table class="text-left">
      <tr>
        <td class="font-sans pr-3 py-1">pass@1</td>
        <td class="pr-2 py-1">
          <div class="w-20 bg-slate-200 h-2 flex">
            <div class="h-2 w-1/2" style="background-color: hsla(100, 85%, 40%, 0.9);"></div>
          </div>
        </td>
        <td class="text-slate-500 py-1">success within a single attempt</td>
      </tr>
      <tr>
        <td class="font-sans pr-3 py-1">pass@{numTries}</td>
        <td class="pr-2 py-1">
          <div class="w-20 bg-slate-200 h-2 flex">
            <div class="h-2 w-[70%] border-2" style="border-color: hsla(100, 85%, 45%, 0.8);"></div>
          </div>
        </td>
        <td class="text-slate-500 py-1">success within {numTries} attempts</td>
      </tr>
    </table>
  </div>
  <img
    id="legend-arrow"
    src="/assets/images/arrow1.svg"
    alt="arrow pointing to ranking"
    class="hidden sm:block h-full w-auto object-contain pointer-events-none select-none opacity-50"
  />
</div>